* {
    padding: 0;
    margin: 0;
}

.margin {
    margin-top: 5px;
    margin-left: 5px;
}



.layout {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(35deg, #494949, #313131);
    border: solid orangered 0.1rem;
    border-radius: 1rem;
    padding: 1rem;
    max-width: 30rem;
    transform: translate(100%, 0%);
}

p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    transform: translate(0%, 0%);
}
