@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Kalam&family=Montserrat:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kalam', sans-serif;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 20% 3%;
    background-color: rgb(26, 26, 27);;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h3 {
    font-size: 1.5rem;
    color: lightgray;
    line-height: 2.5rem;
    margin: 0.5rem 0;
    font-weight: 400;
}

h4 {
    font-size: 1rem;
    color: lightgray;
}

a {
    color: lightgray;
    text-decoration: none;
}

.footer {
    z-index: 3;
    margin-top: 1rem;
    padding: 1rem;
    color: white;
    text-align: center;
    font-size: 1.1rem;
    background: linear-gradient(to right, #672b05, #590612);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
